<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Duolingo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>849C79FF1DF0A3F900D6F1F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849C7A131DF0A3FC00D6F1F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849C7A1E1DF0A3FC00D6F1F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
